<ion-view title="A Instituição" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="aInstituiO-container9" class="cont">
      <div>
        <img src="img/ZS1bvjraScS5lczvPBuQ_esegLogo2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="aInstituiO-list18">
        <ion-item class="item-icon-left" id="aInstituiO-list-item47">
          <i class="icon ion-ios-telephone"></i>+258 84 00 00 00 </ion-item>
        <ion-item class="item-icon-left" id="aInstituiO-list-item48">
          <i class="icon ion-email"></i>info@eseg.ac.mz</ion-item>
        <ion-item class="item-icon-left" id="aInstituiO-list-item49">
          <i class="icon ion-android-pin"></i>Lorem ipsum dolor</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>