<ion-view title="Disciplinas Passadas" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="disciplinasPassadas-container13" class="cont">
      <ion-list id="disciplinasPassadas-list9">
        <ion-item class="item-icon-left" id="disciplinasPassadas-list-item11">
          <i class="icon ion-ionic"></i>Comunicação</ion-item>
        <ion-item id="disciplinasPassadas-list-item14">Turma
          <span class="item-note">A</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item12">Ano
          <span class="item-note">2018</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item13">Semestre
          <span class="item-note">1</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item42">Nota Final
          <span class="item-note">Não Publicado</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item43">Resultado
          <span class="item-note">Aprovado</span>
        </ion-item>
      </ion-list>
      <a ui-sref="menu.notas()" id="disciplinasPassadas-button18" class="button button-balanced button-block">Notas</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="disciplinasPassadas-container18" class="cont">
      <ion-list id="disciplinasPassadas-list15">
        <ion-item class="item-icon-left" id="disciplinasPassadas-list-item50">
          <i class="icon ion-ionic"></i>Comunicação</ion-item>
        <ion-item id="disciplinasPassadas-list-item51">Turma
          <span class="item-note">A</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item52">Ano
          <span class="item-note">2018</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item53">Semestre
          <span class="item-note">1</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item54">Nota Final
          <span class="item-note">Não Publicado</span>
        </ion-item>
        <ion-item id="disciplinasPassadas-list-item55">Resultado
          <span class="item-note">Aprovado</span>
        </ion-item>
      </ion-list>
      <a ui-sref="menu.notas()" id="disciplinasPassadas-button23" class="button button-balanced button-block">Notas</a>
    </div>
  </ion-content>
</ion-view>