<ion-view title="Disciplinas Correntes" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="disciplinasCorrentes-container8" class="cont">
      <ion-list id="disciplinasCorrentes-list8">
        <ion-item class="item-icon-left" id="disciplinasCorrentes-list-item6">
          <i class="icon ion-ionic"></i>Comunicação</ion-item>
        <ion-item id="disciplinasCorrentes-list-item8">Docente
          <span class="item-note">Aissa</span>
        </ion-item>
        <ion-item id="disciplinasCorrentes-list-item9">Turno
          <span class="item-note">Laboral</span>
        </ion-item>
        <ion-item id="disciplinasCorrentes-list-item10">Turma
          <span class="item-note">A</span>
        </ion-item>
      </ion-list>
      <a ui-sref="menu.notas()" id="disciplinasCorrentes-button13" class="button button-balanced button-block">Notas</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="disciplinasCorrentes-container11" class="cont">
      <ion-list id="disciplinasCorrentes-list10">
        <ion-item class="item-icon-left" id="disciplinasCorrentes-list-item15">
          <i class="icon ion-ionic"></i>Matemática I</ion-item>
        <ion-item id="disciplinasCorrentes-list-item16">Docente
          <span class="item-note">Aissa</span>
        </ion-item>
        <ion-item id="disciplinasCorrentes-list-item17">Turno
          <span class="item-note">Laboral</span>
        </ion-item>
        <ion-item id="disciplinasCorrentes-list-item28">Turma
          <span class="item-note">A</span>
        </ion-item>
      </ion-list>
      <button id="disciplinasCorrentes-button15" class="button button-balanced button-block">Notas</button>
    </div>
  </ion-content>
</ion-view>