<ion-view title="Login" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="login-form13" class="list">
      <div class="spacer" style="height: 30px;"></div>
    </form>
    <div id="login-container20" class="cont">
      <form id="login-form14" class="list">
        <div class="spacer" style="height: 20px;"></div>
        <div>
          <img src="img/91p1U8k4SAmCC7E7uJ9t_esegLogo2.png" style="display: block; width: 283px; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <label class="item item-input" id="login-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <div class="spacer" style="height: 20px;"></div>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
        <a ui-sref="menu.perfil()" id="login-button26" class="button button-balanced button-block">Log in</a>
        <div class="spacer" style="height: 20px;"></div>
        <div>
          <img src="img/2MHyditTQ5eOZUSAHyfP_GestaoAcademicaLogo.png" style="display: block; width: 50px; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>