<ion-view title="Notas" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="notas-container15" class="cont">
      <ion-list id="notas-list12">
        <ion-item class="item-icon-left" id="notas-list-item33">
          <i class="icon ion-ionic"></i>Comunicação</ion-item>
        <ion-item id="notas-list-item34">Teste 1
          <span class="item-note">15</span>
        </ion-item>
        <ion-item id="notas-list-item35">Teste 2
          <span class="item-note">10</span>
        </ion-item>
        <ion-item id="notas-list-item36">Frequência
          <span class="item-note">Não Publicado</span>
        </ion-item>
        <ion-item id="notas-list-item41">Nota Final
          <span class="item-note">Não Publicado</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>