<ion-view title="Perfil" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="perfil-container2">
      <div class="spacer" style="height: 10px;"></div>
      <div id="perfil-container4" class="back">
        <div id="perfil-container5">
          <h3 id="perfil-heading6" style="color:#FFFFFF;" class="back">Informação Geral</h3>
        </div>
        <h5 id="perfil-heading5" style="color:#FFFFFF;" class="back">Dionilde Domingos Teixeira Antonio Tundumula</h5>
      </div>
      <ion-list id="perfil-list7">
        <ion-item class="item-divider" id="perfil-list-item-divider3"> LICENCIATURA EM ENGENHARIA DE MINAS</ion-item>
      </ion-list>
    </div>
    <ion-list id="perfil-list6">
      <ion-item id="perfil-list-item18">Ano de Ingresso
        <span class="item-note">2018</span>
      </ion-item>
      <ion-item id="perfil-list-item19">Número de Estudante
        <span class="item-note">201801009</span>
      </ion-item>
      <ion-item id="perfil-list-item20">Estado
        <span class="item-note">Frequentando</span>
      </ion-item>
      <ion-item class="item-divider" id="perfil-list-item-divider4"> Dados Pessoais</ion-item>
      <ion-item id="perfil-list-item21">Genero
        <span class="item-note">masculino</span>
      </ion-item>
      <ion-item id="perfil-list-item22">Nacionalidade
        <span class="item-note">Moçambique</span>
      </ion-item>
      <ion-item id="perfil-list-item23">Naturalidade
        <span class="item-note">nampula</span>
      </ion-item>
      <ion-item id="perfil-list-item24">Número de (BI)
        <span class="item-note">050100729987</span>
      </ion-item>
      <ion-item id="perfil-list-item25">Residência
        <span class="item-note">tete</span>
      </ion-item>
      <ion-item class="item-divider" id="perfil-list-item-divider7"> Contacto</ion-item>
      <ion-item id="perfil-list-item26">email:
        <span class="item-note">nome.apelido@gmail.com</span>
      </ion-item>
      <ion-item id="perfil-list-item27">Tel:
        <span class="item-note">+258 84 00 00 00 0</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>